<p>First Name: <%= @employee.first_name %><br></p>
<br>
<p>Last Name: <%= @employee.last_name %><br></p>
<br>
<p>Alias: <%= @employee.alias %><br></p>
<br>
<p>Title: <%= @employee.title %><br></p>
<br>
<p>Office: <%= @employee.office %><br></p>
